{
    "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties"
    ],
    "presets": [
        "@babel/preset-react",
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ]
}